@inherits LayoutComponentBase

<link href="css/site.css" rel="stylesheet" />

<div class="site-nav">
    <a class="site-brand" href="">
        <span class="logo" aria-hidden="true"></span>
        SolCentre
    </a>

    <div class="site-links">
        <NavLink class="navlink" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="navlink" href="events">Events</NavLink>
        <NavLink class="navlink" href="apod">APOD</NavLink>
        <NavLink class="navlink" href="counter">Counter</NavLink>
        <NavLink class="navlink" href="weather">Weather</NavLink>
    </div>
</div>

<div class="page">
    @Body
</div>


